/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
    background-color: #3a3535;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* GENERAL */
.container{
    max-width:1330px;
    margin:0 auto;
    padding:32px 0;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* WEBSITE */
.background{
    background:linear-gradient(aqua 30%,black 0%);
	height: 100vh;
}

h1{
color: white;
font-weight: 500;
font-size:40px;
margin-bottom: 10px;
}
h2 {
color: grey;
font-weight: 500;
font-size: 20px;
}
.toggle
{	width: 70px;
	height: 30px;
	border-radius: 14px;
	background:linear-gradient(to right, blue,lightgreen);
	margin-top: 3px;
	padding-top: 1px;
	display: inline-block
}
.circle{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color:#0c0c1a;
	text-align: justify;
	margin-left: 3px;
	margin-top: 3px;
}
.box1{
	background:linear-gradient(blue 2%, #26264e 0%) ;
	width: 260px;
	height: 240px;
	border-radius: 6px;
}

.box-2{
	flex-direction: column;
	margin-top: 5px;
}
h3{ 
	font-size:14px;
	color: grey;
	justify-items: center;
	margin-top: 20px;
	margin-bottom:20px;
}
.icon-1{
	font-size: 16px;
	color:blue;
	margin-right: 10px;

}
h4{
  font-size: 60px;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
}

h5{
	font-size: 16px;
	letter-spacing: 5px;
	color: lightgray;
	margin-top: 5px;

}
h6
{	margin-top: 30px;
	color: green;
}
.box3{
	background: linear-gradient( yellow,orange,hotpink 2%,#26264e 0%);
}
.red{
	color: red;
}
.box4{
	background:linear-gradient(red 2%, #26264e 0%) ;
}
.small{
	height: 120px;
	background:linear-gradient(#26264e, #26264e 0%) ;
}
.child1{
	margin: 15px;

}
.p1{
	font-size: 13px;
	color: gray;
}
.p2{
	font-size: 30px;
	color: white;

}
